%html
  %head
    %link(rel="stylesheet" type="text/css" href="/styles.css")
    %title
      FullStack 2018 CFP
  %body
    -if speaker
      %h1 
        Talks by 
        =speaker
      %a(href="/")
        (show all sessions)
    -sessions.each do |session|
      %section
        %h1
          =("#" + session['NO'] + ":")
          =session['Title of Talk/Workshop']
          (
          %a(href="?speaker=#{URI.encode(session['Name'])}")
            =session['Name']
          =sessions.select { |s| s['Name'] == session['Name'] }.length 
          talks
          )
        %p 
          =session['Abstract'].gsub(/</, '&lt;').gsub(/>/, '^gt;').gsub(/\n/, '<br/>')
        %p
          %strong Themes:
          =session['Themes']
          %span(class='audience-level #{session['Audience Level'].split(':')[0].downcase}')
            =session['Audience Level'].split(':')[0]
        %p
          
        -['Submission type',  'Twitter', 'Organisation', 'Location/City', 'Speaker Bio', 'First-Time Speaker', 'Gender', 'T&L ', 'Notes'].each do |key|
          %dt= key
          %dd= session[key]
      %hr
