%html
  %head
    %link(rel="stylesheet" type="text/css" href="/styles.css")
    %title
      FullStack 2018 CFP
  %body
    %a(href="/")
      All Sessions
    -sessions.each do |session|
      %section
        %h1
          =("#" + session['No.'] + ":")
          =session['Title of Talk/Workshop']
          (
          %a(href="?speaker=#{URI.encode(session['Speaker Name'])}")
            =session['Speaker Name']
          )
        %dl
        -session.each_pair do |key, value|
          -next if ['Title of Talk/Workshop', 'No.', 'Speaker Name'].include? key
          %dt
            =key
          %dd
            =value
            &nbsp
      %hr