html {
  font-family: Arial;
}

span.audience-level {
  float: right;
  border: 1px solid #000;
  padding: 4px;
  border-radius: 4px;
}

span.audience-level.intermediate {
  background-color: #f90;
}

span.audience-level.beginner {
  background-color: #3f3;
}

span.audience-level.advanced {
  background-color: #3f3;
}

table {
  border-collapse: collapse;
}

table tr td,
table tr th {
  border: 1px solid #000;
  padding: 8px;
}

section {
  clear: both;
}

@media print {
  section {
    page-break-after: always;
  }
}

dt {
  float: left;
  clear: both;
  font-weight: bold;
  clear: both;
  margin-bottom: 5px;
}

dd {
  margin-left: 200px;
  margin-bottom: 5px;
}

hr {
  clear: both;
  border-width: 2px;
  border-style: solid;
  margin: 100px 0 10px 0;
}